* {
    margin:0;
    padding: 0;
}

.fundo{
background: #611a1a;
height: 100vh;
color: rgb(38, 137, 224);
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

.calculadora{
position: absolute;
background: rgb(207, 189, 189);
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 15px;
padding: 15px;
}

.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    background-color: rgb(138, 236, 147);
    border: none;
    cursor: pointer;
    color: #0f0808;
}

.botao:hover{
    background-color: rgb(55, 77, 62);
}

#resultado {
    width: 207px;
    background: rgb(235, 92, 92)474;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: rgb(26, 6, 6);
    text-align: right;
}